

$blue: #89b4fa;
$lavender: #b4befe;
$sapphire: #74c7ec;
$sky: #89dceb;
$teal: #94e2d5;
$green: #a6e3a1;
$yellow: #f9e2af;
$peach: #fab387;
$maroon: #eba0ac;
$red: #f38ba8;
$mauve: #cba6f7;
$pink: #f5c2e7;
$flamingo: #f2cdcd;
$rosewater: #f5e0dc;

$true: #EF738A;
$false: #A9B1D6;


$forestgreen: #A8B468;
$forestyellow : #8e8370;
$foresttext : #d3c6ab;
$forestblack : #1e201f;
$forestred : #e76c69;
$forestpink : #d698b5;
$forestorange : #e59576;
$forestgray : #75817b;
$forestgraylight: #495156;
$forestgreendark: #7fba90;
$forestblue: #77AEA7;

$tokyobluedark: #1A1B26;
$tokyobluelessdark: #1f212e;
$tokyotext: #a9b1d6;
$tokyopink: #ff79b1; //nah theres no pink in tokyonight, but i need one so added
$tokyored: #EF738A;
$tokyoorange: #FF9E64;
$tokyoyellow: #E0AF68;
$tokyogreen: #9ECE6A;
$tokyoturquoise: #73daca;
$tokyoice: #b4f9f8;
$tokyocyan: #0DB9D7;
$tokyoblue: #7AA2F7;
$tokyopurple: #9778D0;
$tokyogrey: #444B6A;
$catbg: #1E1E2E;

$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;


$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$fg: $tokyotext;
$bg: #171726;
$barbg: #131426;
$shadow: $crust;

// $battcolor: $tokyogreen;
// $memcolor: $tokyoorange;
// $cpucolor: $tokyoblue;